.content table {
    width: 100%;
    border-collapse: collapse;
    cursor: default;
}

.content th, td {
    border: 1px solid #999;
    text-align: center;
    padding: 10px 0;
}

.content table thead tr {
    background-color: #008c8c;
    color: #fff;
}

.content table tbody tr:nth-child(odd) {
    background-color: #eee;
}

.content table tbody tr:hover {
    background-color: #ccc;
}

.content table tbody tr td:nth-child(3) {
    color: #f40;
}

.content table tfoot tr td {
    text-align: left;
    padding-left: 20px;
}

.content table td form {
    display: inline-block;
}

.content table tfoot td form button {
    cursor: pointer;
    width: 26px;
    height: 18px;
}